:root {
 --white: #fff;
 --background: #f2f3f5;
 --gray-line: #dcdde0;
 --text: #666666;
 --text-hightlight: #b3b9ff;
 --title: #2e384d;
 --red: #e83f5b;
 --green: #4cd62b;
 --blue: #5965e0;
 --blue-dark: #4953b8;
 --blue-twitter: #2aa9e0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}
body {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    background: linear-gradient(225deg, #b5b7c3, #7cb6d2);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}
@keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}

body, input, textarea, button {
    font: 400 1rem 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

.experience-bar {
    display: flex;
    align-items: center;
}

.experience-bar span{
    font-size: 1rem;
}

.experience-bar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
    box-shadow: 0px 1px var(--title);
    
}

.experience-bar > div > div{
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--green);
    position: relative;
}

.exp-button{
    font-family: 'Inter', sans-serif;
    color: var(--background);
    background-color: var(--blue-twitter);
    box-shadow: 0px 2px var(--title);
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    width: 21rem;
    margin: 0 auto;
    outline: 0;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.2s ease-in-out;

}

.exp-button:hover{
    background-color: yellowgreen;
    color: var(--title);

}

.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    font-family: 'Rajdhani',sans-serif;

}

.message h1{
    font-family: 'Inter',sans-serif;
    text-shadow: 0px 2px var(--title);


}

.message-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    font-weight: bold;
    font-style: italic;
}
.level-message {
   color: var(--white);
}

.container section {

   display: flex;
   flex-direction: column;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rajdhani',sans-serif;

    padding-bottom: 2rem;
}

.profile-container > img{
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50% ; 
    object-fit: cover;
    text-shadow: 0px 2px var(--title);

}

.pokeInfo {
    display: flex;
    flex-direction: column;
}

.profile-container div strong {
    font-size: 1.5rem;
    font-weight:  600;
    color: var(--white);
    text-align: center;
    font-family: 'Inter',sans-serif;
    text-shadow: 0px 2px var(--title);


    
}

.profile-container div p {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    font-family: 'Rajdhani',sans-serif;
}

.button-section {
    flex-direction: column;
    align-items: center;
    margin: auto;
}